<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/book">Books</a></li>
  </ol>
</nav>

<h1>Book List</h1>

<div class="no-data text-center" *ngIf="inProgress$ && books.length == 0">
  <p>There is no books added yet!</p>
</div>

<div *ngIf="inProgress$ && books.length !== 0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Header</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.author.name}}</td>
      <td>{{book.genre.name}}</td>
      <td>
            <a routerLink="/book-show/{{book.id}}">Show</a>&nbsp;
            <a routerLink="/book-edit/{{book.id}}">Edit</a>&nbsp;
            <a href="#" (click)="deleteBook(book.id)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-outline-primary" routerLink="/book-create">Add Book</button>

