<div class="no-data text-center" *ngIf="inProgress$ && !bookData">
  <p>Book is not found</p>
</div>

<div *ngIf="inProgress$ && bookData != null">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/book">Books</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ bookData.name }}</li>
    </ol>
  </nav>

  <h1>{{ bookData.name }}</h1>

  <table>
    <tr>
      <td>Author:</td>
      <td>{{ bookData.author.name }}</td>
    </tr>
    <tr>
      <td>Genre:</td>
      <td>{{ bookData.genre.name }}</td>
    </tr>
  </table>

  <div *ngIf="comments.length > 0">
    <h1>Comments</h1>
    <ul>
      <li *ngFor="let comment of comments"><b>{{ comment.name}}</b>:{{ comment.content}}</li>
    </ul>
  </div>

</div>
