<div class="no-data text-center" *ngIf="inProgress$ || bookData == null">
  <p>Book is not found</p>
</div>

<div *ngIf="inProgress$ && bookData != null">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/book">Books</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>

  <h1>Create Book</h1>

    <div class="form-group">
      <label >Header</label>
      <input type="text" [(ngModel)]="bookData.name" class="form-control" >
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <select [(ngModel)]="bookData.author" id="author" class="form-control">
        <option *ngFor="let author of authors" [ngValue]="author">{{author.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <select [(ngModel)]="bookData.genre" id="genre" class="form-control">
        <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="addBook()">Submit</button>

</div>
